/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

#nuevaTarea {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#agregar {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

button.delete {
  margin-left: auto;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Botones de filtro */

.filter-container {
  text-align: center;
  margin-top: 20px;
}

.filter-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  color: #007bff;
}

/* Estilos para los botones de filtro activos */

.filter-button.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Estilo para el botón "Mostrar Completadas" */
#mostrarCompletadas {
  background-color: #28a745; /* Verde */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

/* Estilo para el botón "Mostrar Pendientes" */
#mostrarPendientes {
  background-color: #ffc107; /* Amarillo */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}
